*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
}


body{

    background: rgb(231,233,238);
    background: linear-gradient(0deg, rgba(231,233,238,0.9136029411764706) 0%, rgba(235,239,242,1) 100%);
   
}