*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  
}


body{

    background: rgb(231,233,238);
    background: linear-gradient(0deg, rgba(231,233,238,0.9136029411764706) 0%, rgba(235,239,242,1) 100%);
   
}


.Log {

   margin-top: 70px;
   margin-bottom: 70px;
}

.titulo{

    text-align: center;
    color: #343a40;
    font-family: 'Anton', sans-serif;
    font-size: 63px;
    
}

#caruselid{

    margin-top: 70px;
    margin-bottom: 70px;
}

.novedades{

    text-align: center;
    color: #343a40;
    font-family: 'Anton', sans-serif;
    font-size: 63px;

}

#articulos{

    margin-top: 30px;
    margin-bottom: 30px;
}

#videos{

    margin-top: 30px;
    margin-bottom: 30px;
}